* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}
body header {
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 0 0 rgba(7, 31, 50, 0.1);
}
body header img {
  margin-top: 10px;
  width: 180px;
}
body header nav {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-left: 20px;
}
body header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
body header nav a h2 {
  display: flex;
  align-items: center;
  font-size: 19px;
  height: 50px;
  margin: 5px 0 0 0;
}
body header nav a:hover {
  border-top: 3px solid #000000;
}
body header nav a:visited {
  color: #000000;
}
body header #recherche {
  margin-left: 30px;
  width: 150px;
  height: 40px;
  background-color: #f4f3f3;
}
body header #recherche a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}
body header #recherche a i {
  height: auto;
  margin: auto;
}
body header #recherche a p {
  margin: auto 20px auto 0px;
  font-weight: bolder;
}
body header #recherche a:visited {
  color: #071F32;
}
body header #recherche:hover {
  background: #071f32;
}
body header #recherche:hover i {
  color: white;
}
body header #recherche:hover p {
  color: white;
}
body header #monParis {
  display: flex;
  width: 9%;
  height: 73px;
  position: absolute;
  right: 30px;
  justify-content: center;
  align-items: center;
}
body header #monParis a {
  text-decoration: none;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #monParis a p {
  color: #354BCF;
  font-size: 21px;
  white-space: nowrap;
}
body header #monParis a i {
  margin-left: 10px;
  color: #354BCF;
}
body header #monParis:hover {
  border-top: 6px solid;
  color: #354BCF;
}
body main {
  display: flex;
  justify-content: space-between;
}
body main #left {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 500px;
}
body main #left h2 {
  align-self: center;
}
body main #left nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f3f3;
  margin: auto auto 7px auto;
  width: auto;
  flex-wrap: nowrap;
  text-decoration: none;
}
body main #left nav a h3 {
  font-size: x-small;
  margin-left: 20px;
}
body main #left nav a i {
  color: #354BCF;
}
body main #left nav a:hover i {
  filter: brightness(1.75);
}
body main #left nav a:visited {
  color: #000000;
}
body main #left nav #rapid1 {
  width: 100px;
}
body main #left nav #rapid2 {
  width: 170px;
}
body main #left nav #rapid3 {
  width: 200PX;
}
body main #left nav #rapid4 {
  width: 150px;
}
body main #left nav #voirLaCarte {
  background-color: white;
  width: 100px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body main #left nav #voirLaCarte p {
  color: #e20000;
  display: flex;
  justify-content: center;
}
body main #left #cart {
  align-self: center;
}
body main #left #cart a {
  background-color: white;
}
body main #left #cart a .incart {
  display: flex;
  border-top: 1px solid #000000;
  width: 230px;
  height: 80px;
}
body main #left #cart a .incart img {
  align-self: center;
  font-size: medium;
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 35px;
  padding: 10px;
}
body main #left #cart a .incart p {
  font-size: large;
  margin-left: 10px;
  color: #071f32b5;
  align-items: center;
}
body main #left #cart a:hover img {
  filter: invert(1);
}
body main #left #cart a:active {
  color: #000000;
}
body main #middle {
  width: 45%;
}
body main #middle article a {
  text-decoration: none;
  color: #071f32;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body main #middle article a img {
  width: 95%;
}
body main #middle article a #note {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 80%;
  justify-content: center;
  margin: -60px auto auto auto;
}
body main #middle article a #note span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
  top: -17px;
  background-color: #e20000;
  width: 70px;
  height: 30px;
  margin: auto;
  color: white;
  font-size: small;
}
body main #middle article a #note h2 {
  font-size: 40px;
  margin: 20px 0px 0px 30px;
}
body main #middle article a #note p {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto auto;
}
body main #middle article a:visited {
  color: #071f32;
}
body main #middle #articleBottom {
  width: 100%;
  display: flex;
}
body main #middle #articleBottom article {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
body main #middle #articleBottom article img {
  width: 70%;
}
body main #middle #articleBottom article .noteBottom span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #354BCF;
  width: 80px;
  height: 30px;
  margin: -20px 0px 0px 30px;
  color: white;
  font-size: small;
}
body main #middle #articleBottom article .noteBottom h3 {
  width: 60%;
}
body main #right {
  width: 23%;
}
body main #right article {
  display: flex;
  flex-direction: row-reverse;
}
body main #right article .contenu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  box-shadow: 0 2px 0 0 rgba(7, 31, 50, 0.1);
}
body main #right article .contenu a {
  text-decoration: none;
  width: 90px;
  margin: 0px;
}
body main #right article .contenu a p {
  color: #e20000;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body main #right article .contenu img {
  width: 90%;
  height: 100%;
  margin-left: 10px;
}
body main #right article .contenu p {
  margin-bottom: 0px;
  font-size: 15px;
}
body main #right article .date p:nth-child(1) {
  margin-top: 15px;
}
body main #right article .date p {
  margin: 0px 15px 0px 0px;
  font-size: 22px;
  font-weight: bold;
}
body footer {
  display: flex;
  flex-direction: row;
}
body footer #footerLeft {
  height: 300px;
  background-color: #FBFBFB;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body footer #footerLeft #mairie {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer #footerLeft #mairie img {
  position: relative;
  width: 160px;
}
body footer #footerLeft #mairie p {
  margin-left: 15px;
  background-color: #F2F2F2;
  padding: 10px 100px 10px 10px;
  font-weight: bold;
  font-size: small;
}
body footer #footerLeft #bloc {
  display: flex;
  justify-content: space-around;
}
body footer #footerLeft #bloc .blocFooter {
  font-size: small;
}
body footer #footerLeft #bloc .blocFooter a {
  text-decoration: none;
}
body footer #footerLeft #bloc .blocFooter a p {
  color: #e20000;
  display: flex;
  font-size: x-small;
  font-weight: bold;
}
body footer #footerLeft nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer #footerLeft nav a {
  text-decoration: none;
  color: #071f32;
}
body footer #footerLeft nav a p {
  color: #071f32;
  font-size: x-small;
  font-weight: bold;
  margin-left: 20px;
}
body footer #footerRight {
  color: white;
  background-color: #071F32;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer #footerRight p {
  font-size: small;
}
body footer #footerRight div input {
  width: 250px;
  height: 40px;
  margin-right: 10px;
}
body footer #footerRight div button {
  color: white;
  background-color: #E22C3F;
  border-style: none;
  width: 105px;
}
body footer #footerRight #reseaux {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
body footer #footerRight #reseaux a {
  text-decoration: none;
  color: white;
}
body footer #footerRight #reseaux a:hover {
  color: #e20000;
}
body footer #footerRight #note {
  margin-top: 40px;
  display: flex;
  height: 70px;
  flex-direction: column;
}
body footer #footerRight #note p {
  margin: 0;
}
body footer #footerRight #note span p {
  color: #e20000;
  font-size: large;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1250px) {
  body header img {
    width: 100px;
  }
  body header nav a h2 {
    font-size: 15px;
  }
  body header #recherche {
    margin-left: 20px;
    width: 70px;
  }
  body header #recherche p {
    display: none;
  }
  body header #monParis {
    position: relative;
    width: 50px;
    height: 73px;
    margin-left: 30px;
    right: 10px;
  }
  body header #monParis a {
    width: 30px;
  }
  body header #monParis a p {
    display: none;
  }
  body header #monParis i {
    margin-left: 0px;
    width: 50px;
    align-self: center;
  }
  body main {
    display: flex;
    flex-direction: column;
  }
  body main #left {
    width: 100%;
    height: 400px;
  }
  body main #left nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0px auto 0px auto;
  }
  body main #left nav #voirLaCarte {
    top: 40px;
    position: absolute;
  }
  body main #left nav #voirLaCarte p {
    justify-content: center;
  }
  body main #left #cart {
    margin: 80px auto auto 20px;
    display: flex;
    flex-direction: column;
  }
  body main #left #cart a {
    margin-left: 0px;
    width: 100%;
  }
  body main #left #cart a .incart {
    width: 100%;
  }
  body main #left #cart a .incart p {
    display: flex;
  }
  body main #middle {
    width: 90%;
    align-self: center;
  }
  body main #middle #articleBottom {
    margin-bottom: 50px;
  }
  body main #right {
    width: 100%;
    display: flex;
  }
  body footer #footerLeft nav a p {
    font-size: xx-small;
  }
  body footer #footerRight p {
    font-size: 12px;
  }
  body footer #footerRight div input {
    width: 180px;
  }
}
@media (max-width: 800px) {
  body header {
    flex-direction: column;
  }
  body header img {
    width: 200px;
  }
  body header nav {
    flex-direction: column;
    width: auto;
  }
  body main #left nav {
    flex-wrap: wrap;
  }
  body main #left nav #voirLaCarte {
    top: 100%;
  }
  body main #middle article {
    margin-top: 50px;
  }
  body main #middle article a #note h2 {
    font-size: x-large;
  }
  body main #middle article a #note p {
    font-size: medium;
  }
  body main #middle #articleBottom article .noteBottom h3 {
    font-size: medium;
    width: 95%;
  }
  body main #right {
    display: flex;
    flex-direction: column;
  }
  body main #right article .contenu p {
    font-size: medium;
  }
  body footer {
    display: flex;
    flex-direction: column;
  }
  body footer #footerLeft {
    width: 100%;
  }
  body footer #footerLeft #mairie {
    display: flex;
    flex-direction: column;
  }
  body footer #footerLeft nav {
    flex-wrap: wrap;
  }
  body footer #footerRight {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
