* {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 0 0 rgba(7, 31, 50, 0.1);
}
header img {
  margin-top: 10px;
  width: 180px;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-left: 20px;
}
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header nav a h2 {
  display: flex;
  align-items: center;
  font-size: 19px;
  height: 50px;
  margin: 5px 0 0 0;
}
header nav a:hover {
  border-top: 3px solid #000000;
}
header nav a:visited {
  color: #000000;
}
header #recherche {
  margin-left: 30px;
  width: 150px;
  height: 40px;
  background-color: #f4f3f3;
}
header #recherche a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}
header #recherche a i {
  height: auto;
  margin: auto;
}
header #recherche a p {
  margin: auto 20px auto 0px;
  font-weight: bolder;
}
header #recherche a:visited {
  color: #071F32;
}
header #recherche:hover {
  background: #071f32;
}
header #recherche:hover i {
  color: white;
}
header #recherche:hover p {
  color: white;
}
header #monParis {
  display: flex;
  width: 9%;
  height: 73px;
  position: absolute;
  right: 30px;
  justify-content: center;
  align-items: center;
}
header #monParis a {
  text-decoration: none;
  font-style: normal;
}
header #monParis a p {
  color: #354BCF;
  font-size: 21px;
  white-space: nowrap;
}
header #monParis i {
  margin-left: 10px;
  color: #354BCF;
}
header #monParis:hover {
  border-top: 6px solid;
  color: #354BCF;
}

main {
  display: flex;
  justify-content: space-between;
}
main #left {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 500px;
}
main #left h2 {
  align-self: center;
}
main #left nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f3f3;
  margin: auto auto 7px auto;
  width: auto;
  flex-wrap: nowrap;
  text-decoration: none;
}
main #left nav a h3 {
  font-size: x-small;
  margin-left: 20px;
}
main #left nav a i {
  color: #354BCF;
}
main #left nav a:hover i {
  filter: brightness(1.75);
}
main #left nav a:visited {
  color: #000000;
}
main #left nav #rapid1 {
  width: 100px;
}
main #left nav #rapid2 {
  width: 170px;
}
main #left nav #rapid3 {
  width: 200PX;
}
main #left nav #rapid4 {
  width: 150px;
}
main #left nav #voirLaCarte {
  background-color: white;
  width: 100px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main #left nav #voirLaCarte p {
  color: #e20000;
  display: flex;
  justify-content: center;
}
main #left #cart {
  align-self: center;
}
main #left #cart a {
  background-color: white;
}
main #left #cart a .incart {
  display: flex;
  border-top: 1px solid #000000;
  width: 230px;
  height: 80px;
}
main #left #cart a .incart img {
  align-self: center;
  font-size: medium;
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 35px;
  padding: 10px;
}
main #left #cart a .incart p {
  font-size: large;
  margin-left: 10px;
  color: #071f32b5;
  align-items: center;
}
main #left #cart a:hover img {
  filter: invert(1);
}
main #left #cart a:active {
  color: #000000;
}
main #middle {
  width: 45%;
}
main #middle article a {
  text-decoration: none;
  color: #071f32;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main #middle article a img {
  width: 95%;
}
main #middle article a #note {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 80%;
  justify-content: center;
  margin: -60px auto auto auto;
}
main #middle article a #note span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
  top: -17px;
  background-color: #e20000;
  width: 70px;
  height: 30px;
  margin: auto;
  color: white;
  font-size: small;
}
main #middle article a #note h2 {
  font-size: 40px;
  margin: 20px 0px 0px 30px;
}
main #middle article a #note p {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto auto auto;
}
main #middle article a:visited {
  color: #071f32;
}
main #middle #articleBottom {
  width: 100%;
  display: flex;
}
main #middle #articleBottom article {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
main #middle #articleBottom article img {
  width: 70%;
}
main #middle #articleBottom article .noteBottom span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #354BCF;
  width: 80px;
  height: 30px;
  margin: -20px 0px 0px 30px;
  color: white;
  font-size: small;
}
main #middle #articleBottom article .noteBottom h3 {
  width: 60%;
}
main #right {
  width: 23%;
}
main #right article {
  display: flex;
  flex-direction: row-reverse;
}
main #right article .contenu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  box-shadow: 0 2px 0 0 rgba(7, 31, 50, 0.1);
}
main #right article .contenu a {
  text-decoration: none;
  width: 90px;
  margin: 0px;
}
main #right article .contenu a p {
  color: #e20000;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main #right article .contenu img {
  width: 90%;
  height: 100%;
  margin-left: 10px;
}
main #right article .contenu p {
  margin-bottom: 0px;
  font-size: 15px;
}
main #right article .date p:nth-child(1) {
  margin-top: 15px;
}
main #right article .date p {
  margin: 0px 15px 0px 0px;
  font-size: 22px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
}
footer #footerLeft {
  height: 400px;
  background-color: #FBFBFB;
  width: 100%;
}
footer #footerLeft #mairie {
  display: flex;
  align-items: center;
}
footer #footerLeft #mairie img {
  position: relative;
}
footer #footerLeft #bloc {
  display: flex;
}
footer #footerLeft nav {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
