* {
    font-family: 'Montserrat', sans-serif;
    ;
}

body {
    margin: 0;
    header {

        display: flex;
        align-items: center;
        align-content: center;
        box-shadow: 0 2px 0 0 rgba(7, 31, 50, .1);

        img {
            margin-top: 10px;
            width: 180px;

        }

        nav {
            display: flex;
            justify-content: space-between;
            width: 700px;
            margin-left: 20px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;




                h2 {
                    display: flex;
                    align-items: center;
                    font-size: 19px;
                    height: 50px;
                    margin: 5px 0 0 0;

                }

            }

            a:hover {
                border-top: 3px solid #000000;


            }

            a:visited {
                color: #000000;
            }

        }

        #recherche {
            margin-left: 30px;
            width: 150px;
            height: 40px;
            background-color: #f4f3f3;

            a {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                text-decoration: none;


                i {
                    height: auto;
                    margin: auto;
                }

                p {
                    margin: auto 20px auto 0px;
                    font-weight: bolder;
                }
            }


            a:visited {
                color: #071F32;
            }


        }

        #recherche:hover {
            background: #071f32;

            i {
                color: white;
            }

            p {
                color: white;
            }
        }

        #monParis {
            display: flex;
            width: 9%;
            height: 73px;
            position: absolute;
            right: 30px;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;


                p {
                    color: #354BCF;
                    font-size: 21px;
                    white-space: nowrap;
                }

                i {
                    margin-left: 10px;
                    color: #354BCF;

                }

            }




        }

        #monParis:hover {
            border-top: 6px solid;
            color: #354BCF;

        }

    }

    main {
        display: flex;
        justify-content: space-between;

        #left {
            display: flex;
            flex-direction: column;
            width: 19%;
            height: 500px;

            h2 {
                align-self: center;
            }

            nav {

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f4f3f3;
                    margin: auto auto 7px auto;
                    width: auto;
                    flex-wrap: nowrap;
                    text-decoration: none;

                    h3 {
                        font-size: x-small;
                        margin-left: 20px;
                    }

                    i {

                        color: #354BCF;
                    }

                }

                a:hover {
                    i {
                        filter: brightness(1.75);
                    }
                }

                a:visited {
                    color: #000000;
                }

                #rapid1 {
                    width: 100px;
                }

                #rapid2 {
                    width: 170px;
                }

                #rapid3 {
                    width: 200PX;
                }

                #rapid4 {
                    width: 150px;
                }

                #voirLaCarte {
                    background-color: white;
                    width: 100px;
                    height: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    p {
                        color: #e20000;
                        display: flex;
                        justify-content: center;
                    }

                }




            }

            #cart {
                align-self: center;

                a {

                    background-color: white;

                    .incart {
                        display: flex;
                        border-top: 1px solid #000000;
                        width: 230px;
                        height: 80px;

                        img {
                            align-self: center;
                            font-size: medium;
                            border-radius: 50%;
                            background-color: #f2f2f2;
                            width: 35px;
                            padding: 10px;
                        }

                        p {
                            font-size: large;
                            margin-left: 10px;
                            color: #071f32b5;
                            align-items: center;
                        }
                    }

                }

                a:hover {
                    img {

                        filter: invert(1);
                    }
                }

                a:active {
                    color: #000000;

                }
            }
        }

        #middle {
            width: 45%;

            article {
                a {
                    text-decoration: none;
                    color: #071f32;


                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    img {
                        width: 95%;

                    }

                    #note {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        background-color: white;
                        width: 80%;
                        justify-content: center;
                        margin: -60px auto auto auto;

                        span {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            left: 30px;
                            top: -17px;
                            background-color: #e20000;
                            width: 70px;
                            height: 30px;
                            margin: auto;
                            color: white;
                            font-size: small;


                        }

                        h2 {
                            font-size: 40px;
                            margin: 20px 0px 0px 30px;
                        }

                        p {
                            width: 80%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 20px auto auto auto;
                        }
                    }
                }

                a:visited {
                    color: #071f32;
                }
            }

            #articleBottom {
                width: 100%;
                display: flex;


                article {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;

                    img {
                        width: 70%;
                    }

                    .noteBottom {
                        span {

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            background-color: #354BCF;
                            width: 80px;
                            height: 30px;
                            margin: -20px 0px 0px 30px;

                            color: white;
                            font-size: small;


                        }

                        h3 {
                            width: 60%;
                        }
                    }
                }
            }
        }

        #right {
            width: 23%;

            article {
                display: flex;
                flex-direction: row-reverse;

                .contenu {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 30px;
                    box-shadow: 0 2px 0 0 rgba(7, 31, 50, .1);

                    a {
                        text-decoration: none;
                        width: 90px;
                        margin: 0px;

                        p {
                            color: #e20000;
                            font-size: 11px;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                        }
                    }

                    img {
                        width: 90%;
                        height: 100%;
                        margin-left: 10px;
                    }

                    p {
                        margin-bottom: 0px;
                        font-size: 15px;
                    }
                }

                .date {
                    p:nth-child(1) {
                        margin-top: 15px;
                    }

                    p {
                        margin: 0px 15px 0px 0px;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;

        #footerLeft {
            height: 300px;
            background-color: #FBFBFB;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #mairie {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;


                img {
                    position: relative;
                    width: 160px;

                }

                p {
                    margin-left: 15px;
                    background-color: #F2F2F2;
                    padding: 10px 100px 10px 10px;
                    font-weight: bold;
                    font-size: small;
                }

            }

            #bloc {
                display: flex;
                justify-content: space-around;

                .blocFooter {

                    font-size: small;

                    a {
                        text-decoration: none;

                        p {
                            color: #e20000;
                            display: flex;
                            font-size: x-small;
                            font-weight: bold;
                        }
                    }
                }
            }



            nav {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: #071f32;


                    p {
                        color: #071f32;
                        font-size: x-small;
                        font-weight: bold;
                        margin-left: 20px;
                    }
                }
            }
        }

        #footerRight {
            color: white;
            background-color: #071F32;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: small;
            }

            div {
                input {
                    width: 250px;
                    height: 40px;
                    margin-right: 10px;
                }

                button {
                    color: white;
                    background-color: #E22C3F;
                    border-style: none;
                    width: 105px;
                }
            }

            #reseaux {
                display: flex;
                justify-content: space-between;
                width: 200px;

                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    color: #e20000;
                }


            }

            #note {
                margin-top: 40px;
                display: flex;
                height: 70px;
                flex-direction: column;

                p {
                    margin: 0;
                }

                span {
                    p {
                        color: #e20000;
                        font-size: large;
                        text-align: center;
                        margin-top: 20px;
                    }
                }
            }

        }
    }

    @media (max-width: 1250px) {
        header {
            img {
                width: 100px;
            }

            nav {
                a {
                    h2 {
                        font-size: 15px;
                    }
                }
            }

            #recherche {
                margin-left: 20px;
                width: 70px;

                p {
                    display: none;
                }
            }

            #monParis {
                position: relative;
                width: 50px;
                height: 73px;
                margin-left: 30px;
                right: 10px;

                a {
                    width: 30px;

                    p {
                        display: none;
                    }
                }

                i {
                    margin-left: 0px;
                    width: 50px;
                    align-self: center;
                }
            }
        }


        main {
            display: flex;
            flex-direction: column;

            #left {
                width: 100%;
                height: 400px;

                nav {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 90%;
                    margin: 0px auto 0px auto;

                    #voirLaCarte {
                        top: 40px;
                        position: absolute;

                        p {
                            justify-content: center;
                        }
                    }
                }

                #cart {
                    margin: 80px auto auto 20px;
                    display: flex;
                    flex-direction: column;


                    a {
                        margin-left: 0px;
                        width: 100%;

                        .incart {
                            width: 100%;

                            p {
                                display: flex;
                            }
                        }
                    }
                }
            }

            #middle {
                width: 90%;
                align-self: center;

                #articleBottom {
                    margin-bottom: 50px;
                }
            }

            #right {
                width: 100%;
                display: flex;
            }
        }

        footer {
            #footerLeft {
                nav {
                    a {
                        p {

                            font-size: xx-small;
                        }
                    }
                }
            }

            #footerRight {
                p {
                    font-size: 12px;
                }

                div {
                    input {
                        width: 180px;
                    }
                }
            }
        }

    }

    @media (max-width: 800px) {
        header {
            flex-direction: column;

            img {
                width: 200px;
            }

            nav {
                flex-direction: column;
                width: auto;

            }
        }

        main {
            #left {
                nav {
                    flex-wrap: wrap;

                    #voirLaCarte {
                        top: 100%;
                    }
                }
            }

            #middle {
                article {
                    margin-top: 50px;

                    a {
                        #note {
                            h2 {
                                font-size: x-large;
                            }

                            p {
                                font-size: medium;
                            }
                        }
                    }
                }

                #articleBottom {
                    article {
                        .noteBottom {
                            h3 {
                                font-size: medium;
                                width: 95%;
                            }
                        }
                    }
                }
            }

            #right {
                display: flex;
                flex-direction: column;

                article {
                    .contenu {
                        p {
                            font-size: medium;
                        }
                    }
                }
            }
        }

        footer {
            display: flex;
            flex-direction: column;

            #footerLeft {
                width: 100%;

                #mairie {
                    display: flex;
                    flex-direction: column;
                }

                nav {
                    flex-wrap: wrap;
                }
            }

            #footerRight {
                width: 100%;
            }
        }

    }
}